{
  "plugins": ["@mysten/prettier-plugin-move"],
  "tabWidth": 2,
  "printWidth": 100,
  "useModuleLabel": true,
  "autoGroupImports": "package",
  "enableErrorDebug": false,
  "wrapComments": false,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid"
}
